main {
  background-color: var(--color-blue-grey-l5);
  padding: 40px 10vw;
}

.sulli {
  font-size: 100px;
  text-align: center;
  color: var(--color-light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: var(--color-blue-grey-d4);
}

h2 {
  font-size: 30px;
  color: var(--color-light-blue);
}

h3 {
  font-size: 24px;
  color: var(--color-light-green-d4);
}

h4 {
  font-size: 20px;
  color: var(--color-deep-orange-d4);
}

h5 {
  font-size: 18px;
  color: var(--color-light-blue-d4);
}

h6 {
  font-size: 16px;
  color: var(--color-blue-grey-d4);
}

p {
  font-size: 18px;
}

.hero-images img {
  width: 100%;
}

#contact-form {
  max-width: 600px;
  margin: 20px auto 0 auto;
  border: 5px solid var(--color-light-blue-d4);
  border-radius: 20px;
  padding: 20px;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
  background-color: var(--color-blue-grey-l5);
  display: block;
  width: 100%;
}

#contact-form input,
#contact-form textarea {
  border: 1px solid var(--color-blue-grey-d4);
  border-radius: 7px;
  padding: 10px;
}

#contact-form label {
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  margin-bottom: 20px;
}

#contact-submit {
  display: block;
  margin: 0 auto;
  background-color: var(--color-light-blue-d4);
  color: var(--color-blue-grey-l5);
  font-size: 20px;
  border: 1px solid var(--color-blue-grey-d4);
  border-radius: 10px;
  padding: 10px 20px;
}
