main {
  background-color: var(--color-blue-grey-l5);
  padding: 40px 0;
}

.container {
  margin: 0 10%;
}

.sulli {
  font-size: 100px;
  text-align: center;
  color: var(--color-light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: var(--color-blue-grey-d4);
}

h2 {
  font-size: 30px;
  color: var(--color-light-blue);
}

h3 {
  font-size: 24px;
  color: var(--color-light-green-d4);
}

h4 {
  font-size: 20px;
  color: var(--color-deep-orange-d4);
}

h5 {
  font-size: 18px;
  color: var(--color-light-blue-d4);
}

h6 {
  font-size: 16px;
  color: var(--color-blue-grey-d4);
}

p {
  font-size: 18px;
}
