/* starts mobile screen styling (width < 768px) */
footer .footer-nav {
  padding: 1vh 10vw;
  background-color: var(--color-light-blue-d2);
}
footer .copyright {
  padding: 1vh 10vw;
  background-color: var(--color-light-blue-d4);
  text-align: center;
}

footer a,
footer p {
  font-size: 16px;
  color: var(--color-blue-grey-l5);
}
footer a {
  text-decoration: none;
}

footer .flex {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* ends mobile screen styling (width < 768px) */

/* starts tablet screen styling (768px <= width <= 992px) */
@media only screen and (min-width: 768px) {
  footer a,
  footer p {
    font-size: 18px;
  }
}
/* ends tablet screen styling (768px <= width <= 992px) */

/* starts desktop screen styling (992px <= width <= 1200px) */
@media only screen and (min-width: 992px) {
  footer a,
  footer p {
    font-size: 20px;
  }
}
/* ends desktop screen styling (992px <= width <= 1200px) */

/* starts large desktop screen styling (1200px <= width) */
@media only screen and (min-width: 1200px) {
  footer a,
  footer p {
    font-size: 22px;
  }
}
/* ends large desktop screen styling (1200px <= width) */
