/* starts mobile screen styling (width < 768px) */
.navbar {
  display: flex;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue-d4);
}

.menu-bars,
.menu-times {
  color: var(--color-blue-grey-l5);
  margin-left: 10vw;
  background: none;
  font-size: 24px;
  transform: translateY(3px);
}

#logo {
  margin-right: 10vw;
  color: var(--color-blue-grey-l5);
  font-size: 28px;
  text-decoration: none;
  transform: translateY(-3px);
}

.nav-menu {
  display: flex;
  position: fixed;
  z-index: 1;
  margin-top: 44px;
  left: -100%;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  background-color: var(--color-light-blue-d4);
  opacity: 0.8;
  transition: 500ms;
  overflow: scroll;
}

.nav-menu.active {
  left: 0;
  transition: 500ms;
}

.nav-text {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-text a {
  display: flex;
  padding: 0 5vw;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-blue-grey-l5);
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.nav-text a:hover {
  background-color: var(--color-deep-orange);
  font-weight: 700; /* not working */
}

.nav-menu-items {
  padding: 0 5vw;
  width: 100%;
}

span {
  margin-left: 16px;
}
/* ends mobile screen styling (width < 768px) */

/* starts tablet screen styling (768px <= width <= 992px) */
@media only screen and (min-width: 768px) {
  .navbar,
  .nav-text {
    height: 50px;
  }

  .nav-menu {
    margin-top: 50px;
  }

  .menu-bars,
  .menu-times {
    font-size: 26px;
  }

  #logo {
    font-size: 32px;
  }

  .nav-menu {
    width: 50vw;
  }

  .nav-text {
    margin-top: 10px;
  }

  .nav-text a {
    font-size: 22px;
  }
}
/* ends tablet screen styling (768px <= width <= 992px) */

/* starts desktop screen styling (992px <= width <= 1200px) */
@media only screen and (min-width: 992px) {
  .navbar,
  .nav-text {
    height: 55px;
  }

  .nav-menu {
    margin-top: 55px;
  }

  .menu-bars,
  .menu-times {
    font-size: 28px;
    transform: translateY(4px);
  }

  #logo {
    font-size: 36px;
    transform: translateY(-4px);
  }

  .nav-text {
    margin-top: 20px;
  }

  .nav-text a {
    font-size: 24px;
  }
}
/* ends desktop screen styling (992px <= width <= 1200px) */

/* starts large desktop screen styling (1200px <= width) */
@media only screen and (min-width: 1200px) {
  .navbar,
  .nav-text {
    height: 60px;
  }

  .nav-menu {
    margin-top: 60px;
  }

  .menu-bars,
  .menu-times {
    font-size: 30px;
  }

  #logo {
    font-size: 40px;
  }
}
/* ends large desktop screen styling (1200px <= width) */
