/* starts mobile screen styling (width < 768px) */
.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue-d4);
}

.menu-bars {
  margin-left: 10%;
  background: none;
  font-size: 24px;
}

#logo {
  margin-right: 10%;
  color: var(--color-blue-grey-l5);
  font-size: 30px;
  text-decoration: none;
  transform: translateY(-4px);
}

.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  background-color: rgba(13, 71, 161, 0.8); /* var(--color-light-blue-d4); */
  transition: 500ms;
}

.nav-menu.active {
  left: 0;
  transition: 500ms;
}

.nav-text {
  display: flex;
  margin: 30px 5% 0 5%;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-text a {
  display: flex;
  padding-left: 5%;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-blue-grey-l5);
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.nav-text a:hover {
  background-color: var(--color-deep-orange);
  font-weight: 700;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-blue-d4);
}

span {
  margin-left: 16px;
}

/* for side navbar */
/* .home,
.ramadan,
.faqs,
.about,
.contact {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
/* ends mobile screen styling (width < 768px) */
